//style

$gray: #9A9A9A;
$gray-light: #d5d5d5;
$blue: #0299FF;

//_________________________ Variables ______________________
.arrow{
  &:before{
    content: '';
  }
}

//_________________________ Sidebar ______________________
#main{
  #sidebar-first{
    margin-top: 70px;
    .section {
      padding-top: 0;
      .block {
        padding-top: 0;
        .content{
          margin-top: 0;
        }
      }
    }
    .content{
      &> ul.menu{
        &> li{
          &:before {
            content: "";
            width: 6px;
            height: 6px;
            border: 1px solid $gray-light;
            position: absolute;
            left: 0;
            top: 7px;
            background: $gray-light;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
          &.active-trail{
            a{
              color: $blue;
            }
            &:before{
              border: 1px solid $blue;
              background: $blue;
            }
          }
          ul.menu{
            li{
              a{
                color: $gray;
              }
              &.active-trail{
                a{
                  color: $blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

//_________________________ Content ______________________
.block-system{

  .content{
    margin-top: 0;
      #edit-title{
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      #edit-description{
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
  }
  .view{
    .views-exposed-form {
      .views-exposed-widget {
        padding: 0;
      }
    }
  }
  .view.view-symptoms{
    @extend .arrow;
    &:before{
      top: 50px;
    }
  }
  .view-general-questions{
    @extend .arrow;
    &:before{
      top: 105px;
    }
  }
  .view.view-all-diagnosis{
    @extend .arrow;
    &:before{
      top: 225px;
    }
  }
  .views-exposed-widgets{
    margin-bottom: 2em;
    input{
      width: 628px;
      padding-left: 40px;
      padding-right: 20px;
      padding-top: 11px;
      padding-bottom: 11px;
      background-image: url(../images/search.png);
      background-repeat:no-repeat;
      background-position: 2% 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  .view-content{
    max-height: 250px;
    overflow-y: auto;


  }
  .views-row{
    line-height: 2.5;
    .views-field,
    .views-field-title{
      margin-right: 40px;
      text-transform: uppercase;
    }
  }
  .view-footer{
    padding-left: 60px;
    margin-bottom: 40px;
    margin-right: 60px;
    border-bottom: 3px dotted #e0e0e0;
    p{
      margin: 1.2em 0 2.2em;
    }
  }
}

//_________________________ Pop-ups ______________________

.popups-container{
  .form-item {
    .form-textarea-wrapper{
     .form-textarea{
       padding: 10px;
       resize: none;
     }
    }
  }
  #edit_tabs_something_tab_two_simptoms_chosen{
    min-width: 534px;
  }

  #edit-tabs-something-tab-one input#edit-tabs-something-tab-one-cancel,
  #edit-tabs-something-tab-two input#edit-tabs-something-tab-two-cancel{
    margin-right: 20px;
  }
  .horizontal-tabs ul.horizontal-tabs-list li a,
  .horizontal-tabs ul.horizontal-tabs-list li.selected a{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    text-align: center;
  }

  li.horizontal-tab-button.horizontal-tab-button-0.first a {
    margin-left: 60px;
  }
  li.horizontal-tab-button.horizontal-tab-button-1.last a{
    margin-right: 60px;
  }
}
.chosen-container-multi{
  .chosen-choices {
    padding: 10px;
  }
}

.views-exposed-widget.views-widget-filter-title #edit-title{
  padding-left: 40px;
}
.chosen-container .chosen-results{
  max-height: 180px;
  overflow: auto;
}
